
.navbar-light .navbar-brand{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:#fff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:darkgrey;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}



    
      
     
    .navcolor{
        opacity: 0.7;
        background-color:black;
    }
    .navcolor1{
        opacity: 0.5;
        background-color:black;
        
    }