/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* Basic CSS starts */

body{
	padding-top: 70px;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background:#fff;
}
.sidebar-open-bg{
			background-color:rgba(0,0,0,0.4);
			position:fixed;
			right:0;
			top:0;
			bottom:0;
			left:0;
			z-index:1030;
			display:none;
			width: 100%;
			height: 100%;
		}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.martop {
    margin-top: 40px;
}
h4 { font-size: 21px; }

p{
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 28px;
}

a button{
	text-decoration: none !important;
}

a:hover, button:hover{
	text-decoration: none !important;
}

a:hover,a:active,a:focus, button:hover, button:active, button:focus {
	outline: 0 !important;
	text-decoration: none !important;
}

hr{
	border-top:0px;
	border-bottom:1px solid #f8f8f8;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.form-control,
.form-control:focus{
	box-shadow:none !important;
}

.btn{
  -webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}

.btn:hover{
  -webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}

.btn i{
	margin-right:5px;
}
.btn {
    border-color: transparent !important;
    box-shadow: 0 1px 4px 0 rgba(138, 136, 136, 0.37);
    border-radius:0 !important;
    outline: 0 !important;
}
.btn:focus{
	outline: 0 !important;
	border-color: transparent !important;
}
.btn:hover{
    border-color: transparent;
    box-shadow: 0 3px 12px 0 rgba(138, 136, 136, 0.47);
}
/* Theme Default Button */

.btn-theme {
  color: #fff !important;
  border:0px;
  border-radius:2px;
  font-size:18px;
  padding:16px 30px;
}
.btn-downloadapp, .btn-startnow{
	 background:#008cd6 !important;
}
/* Border */

.bor{
	width:70px;
	height:3px;
	margin:5px auto;
}

/* Default Padding */

.padd { padding: 75px 0; }
.padd1 { padding: 10px 0; }
/* Basic CSS ends */
/* Color CSS File */
/* Default Theme Color Class */
.color {
  color: #609cec !important;
}
.br-color {
  background: #609cec !important;
}
/* Theme Default Button */
.btn-theme {
  background: #609cec;
}
.btn-theme:hover {
  background: #528fe2;
}
.bor {
  background: #609cec;
}
body {
  color: #555555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}
a {
  color: #777777;
}
a:hover {
  color: #555555;
}
.social a i {
   display:inline-block;
   width:40px;
   height:40px;
   font-size:15px;
   line-height:40px;
   text-decoration:none;
   text-align:center;
   color:#fff;
   -webkit-transition: background 1.5s ease;
      -moz-transition: background 1.5s ease;
        -o-transition: background 1.5s ease;
       -ms-transition: background 1.5s ease;
           transition: background 1.5s ease;
}
.social a:hover i { background:#000; }
.social a, .social a:hover {
   border:0px;
   text-decoration:none;
}
/* Social Media  End */
/* Header */

.header .navbar { 
	margin: 0;
	background: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	
}
.header .navbar-nav>li>a {
	padding: 23px 18px;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	color: #777;
	background:transparent;
	text-transform: uppercase;
   -webkit-transition: background 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
       -ms-transition: background 0.5s ease-in-out;
           transition: background 0.5s ease-in-out;
}
#remove-home{
	display:none !important;
}
.header .navbar-nav>li>a:hover,
.header .navbar-nav>li>a:focus { 
	color:#fff; 
   -webkit-transition: background 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
       -ms-transition: background 0.5s ease-in-out;
           transition: background 0.5s ease-in-out;	
}

.header .navbar-nav>li.active>a{
	color:#fff;
}

.header .icon-bar{
	background:#609cec;
}
.header .navbar .navbar-nav > li > a:hover {
  background: #609cec !important;
}
.header .navbar .navbar-nav > li > a:focus {
  background: #609cec !important;
}
.header .navbar .navbar-nav > li.active > a {
  background: #609cec !important;
}
.header .navbar .navbar-toggle {
  background: #FFF;
}
/* Default Heading */
.default-heading .dh-icon i {
  color: #609cec;
}
.header .navbar .navbar-nav > li > .re-hover:hover {
    background: none !important;
}
.header .navbar .navbar-nav > li.active > .re-hover{
    background: none !important;
}
.header .navbar-nav > li.active > .re-hover{
    color:#555555 !important;
}
.header .navbar-nav > li > .re-hover:hover, .header .navbar-nav > li > .re-hover:focus {
    color: #555555 !important;
    transition: background 0.5s ease-in-out 0s;
}
.header .navbar-nav > li > .login{
    font-size:14px;
    text-transform:none;
    font-weight: normal;
}
.header .navbar-nav > li > .sign-up{
    background:#609CEC;
    border: 0 none;
    font-size:15px;
    border-radius: 2px;
    color: #FFFFFF !important;
    font-size: 15px;
    padding: 8px 0px;
    margin:13px 0px;
    line-height:25px;
    text-align: center;
    text-transform:none;
    font-weight: normal;
    width:95px;
    margin-left:5px;
}
.header .navbar .navbar-nav > li > .sign-up:hover{
    background:#609CEC !important;
    vertical-align:middle;
}
.header .navbar .navbar-nav > li.active > .sign-up{
    background: #609CEC !important;
}

/* Header End*/
/* Flex Slider */

.tp-banner-container{
	box-shadow:0px 0px 1px rgba(0,0,0,0.4);
}

.flex .flexslider{
	padding: 80px 0px;
	height:670px;
	border: 0px;
	background: transparent;
	box-shadow: none;
	margin: 0px;
	position: relative;
}
.tp-banner-container {
background:#253340 url("../img/home1.jpg") no-repeat center center;
background-size:cover ; width: 100%; image-resolution: 300dpi;
}
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.slides {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.flex .flex-two { text-align: left; margin-left: 40px;}
.flex .flex-two p {
    max-width: 600px;
    font-size:16px;
    line-height:28px;
    margin-bottom: 30px;
    color: #fff;
}
.flex .flex-two h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 65px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

.btn-join{
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    position: relative;
    border: 0 none;
    color: #fff !important;
}
.flex .flex-two .btn-startnow{
	margin-right: 30px;
}
/* Flex Slider End*/
/* exams-set Block */

.exams-set { padding-top: 80px; background: #609cec;}

.exams-set .heading h2{
	font-size:40px;
	line-height:55px;
	color: #fff;
}
.exams-set .heading .bor{
	background:#fff !important;
}
.ol-mar{
	margin-top:40px;
	display: -webkit-flex; /* Safari */
  	display: flex;
  	-webkit-flex-direction: row; /* Safari */
  	flex-direction:         row;
  	-webkit-flex-wrap:wrap;
  	flex-wrap: wrap;
  	-webkit-justify-content:flex-start;
  	justify-content:flex-start;
  	-webkit-align-content:stretch;
  	align-content:stretch;
  	align-items: stretch;
}
.examCol{
    margin-bottom:20px;
    flex:0 1 auto;
    padding:0 10px;
    position:relative;
    width: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.examSet{
    padding:15px;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.2s linear 0s;
    position: relative;
    width:100%;
}
.examset-bank{
    background-color:#3a9a7f;
}
.examset-mba{
    background-color:#f0b358;
}
.examset-govtins{
    background-color:#e05b4a;
}
.examset-crt{
    background-color:#20a4b7;
}
.examSet:hover{
	box-shadow: 0px 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.examName{
    color:#ddd;
}

.ol-ex-md{margin-bottom:20px;}
.exams-sprite{margin-bottom:20px;background: url(../img/exams.png) no-repeat !important; width: 132px; height: 132px; position: relative; left: calc(50% - 66px);}
.exam-img1{background-position: 0px -1058px !important;}
.exam-img2{background-position: 0px -1216px !important;}
.exam-img3{background-position: 0px -1372px !important;}
.exam-img4{background-position: 0px -1524px !important;}
.examHeading{margin-top:20px; margin-bottom:10px;color:#FFF;min-height:55px; font-weight:700;}
.btnExam{white-space:normal;border-radius:0; box-shadow:none; border-color:transparent; background-color:transparent; color:#FFF; font-weight:600;font-size:14px;}
.btnExam:hover{color:#FFF; border-color:transparent; box-shadow: none;}
/* exams-set Block  End*/
/* features-ele Block */
.featureCol{
    margin-bottom:20px;
    flex:0 1 auto;
    padding:0 10px;
    position:relative;
    width: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.features-ele {
  background: #fff;
  background-size: 252px 230px;
}
.features-ele .heading h2{
	font-size:40px;
	line-height:42px;
	font-weight:600;
	margin-bottom:15px;
	color:#424242;
}

.features-ele .heading .bor{
	background:#609cec !important;
}

.features-ele .features-ele-item {
	max-width: 400px;
	margin: 0 auto;
	margin-top: 40px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s;	
}

.features-ele .features-ele-item.animated{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.features-ele .features-ele-item span {
	width: 100%;
	max-width: 70px;
	padding: 4px;
	background: #fff;
	color: #555;
	/*box-shadow: 0 0  10px rgba(0,0,0,0.2);*/
	border-radius: 50%;
	float: left;
}

.features-ele .features-ele-item h4 ,
.features-ele .features-ele-item p { margin-left: 95px; }
.features-ele .features-ele-item h4 {
	margin-top: 0;
	color: #424242;
	font-size:22px;
	margin-bottom:15px;
}

.features-ele .features-ele-item p { 
	color: #66625b; 
	font-size:14px;
	line-height:24px;
}
.feature-bg{
    background: url(../img/spriteob.png) no-repeat center 0px !important;
    height:70px;
    background-size:cover !important;
    border:4px solid #ebebeb;
    padding:0px !important;
       
}
.feature-sp-c
{
    background-position:0px 0px !important;
}
.feature-sp-up
{
    background-position:0px -84px !important;
}
.feature-sp-r
{
    background-position:0px -170px !important;
}
.feature-sp-sp
{
    background-position:0px -254px !important;
}
.feature-sp-a
{
    background-position:0px -424px !important;
}
.feature-sp-gs
{
    background-position:0px -340px !important;
}
.btn-join-new{
	border:2px solid #FFF;

}
/* features-ele Block End*/
/* mini-cta*/
#app
{
	background:#FFFCF5;
	color:#66625b;
	border-bottom: 1px solid #f1eae0;
	border-top: 1px solid #f1eae0;
}
.mini-cta{
	padding:50px 0px;
	text-align:left;
}

.mini-cta h3{
	display:inline-block;
	margin-right:10px;
	line-height:32px;
	font-weight: 100;
	color:#222;
}
.mini-cta .text-uppercase{
	text-transform: uppercase;
}

.mini-cta .olive-highlight{
	color: #609cec;
}
.mini-cta .seo-bulletlist {
    margin: 15px 0px 15px 30px;
}
.mini-cta .seo-bulletlist li {
    color: #66625b;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}
.mini-cta .seo-bulletlist li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.1em;
    position: relative;
}
.mini-cta .img-oliveapp{
	margin: 0px auto;
}
.mini-cta .btn-google-ply{
	display: block;
	background:url(../img/play.png) no-repeat;
	width: 186px;
	height: 55px;
	vertical-align: top;
	margin: 0px auto;
}
/* minicta End*/
/* Contact Block */

.contact .heading{
	margin-bottom:20px;
}

.contact .heading h2{
	font-size:40px;
	line-height:40px;
	font-weight:400;
}

.contact .heading .bor{
	margin-top:17px;
}

.contact .heading p{
	margin-top:12px;
	font-size:17px;
}

.contact .heading i{
	font-size:40px;
}

.contact-map {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 420px;
	background: #eee;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

.contact-map h5{
	margin:0px !important;
	margin-bottom:5px !important;
	font-weight:600;
}

.contact-map p{
	color:#444 !important;
	font-size:12px !important;
	line-height:20px !important;
	font-family:"Open Sans", sans-serif !important;
}

.contact-info .info-item { 
	margin-top: 40px;
	margin-bottom:20px;
	text-align: center; 
	
}

.contact-info .info-item i { 
	display: block;
	width: 55px;
	height: 55px;
	line-height: 55px;
	font-size: 27px;
	margin: 0 auto;
	margin-bottom:10px;
	border-radius: 50%;
}
.contact .contact-info .info-item i {
    box-shadow: 0 0 0 2px #609cec;
    color: #609cec;
}
.contact-info .info-item h4 {
	display: inline-block;
	padding: 0 5px;
	font-size:22px;
	font-weight:400;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.contact-content{
	max-width:800px;
	margin:30px auto 10px auto;
}
  
.contact-content h5 {
	font-size: 22px;
	padding-bottom:15px;
}

.contact-content form { 
	color:#999;
	margin-bottom:20px;
}

.contact-content form label{
	font-weight:normal !important;
	margin-top:5px !important;
}
.contact form label {
    color: #609cec;
}
.contact-content form .form-group { margin-bottom: 20px; }
.contact-content form .form-group input {
	height: 45px;
	font-size: 14px;
}

.contact-content form textarea { 
	font-size: 14px; 
	padding:15px; 
}

.contact-content .form-control,
.contact-content form button { border-radius: 2px;}
.contactmsg {
    color: #609cec;
    display: none;
    font-size: 17px;
    text-align: center;
}
#success, 
#error {
    display:none;
}
/* Contact End */
/* Footer */

.footer {
	padding: 50px 0; 
	border-top:1px solid #f5f5f5;
	background-color:#FFFCF5;
}

.footer .footer-social{
	margin-top:10px;
}

.footer .footer-social a i{
	height:40px;
	width:40px;
	line-height:32px;
	font-size:14px;
	margin:0px 2px;
	border-radius:40px;
}
/****************/
/* Social */
/****************/
.social a.facebook i {
  background: #1e78ae;
}
.social a.twitter i {
  background: #1ba1e2;
}
.social a.google-plus i {
  background: #f22d0c;
}
.social a.linkedin i {
  background: #2d93cf;
}
.social a.pinterest i {
  background: #dd1617;
}
.social a.youtube i {
    background: #d72523;
}
.social a:hover i {
  background: #333333;
}
.footerlinks {
    color: #609cec;
}
p {
    font-size: 14px;
    line-height: 28px;
}
/* Footer End */

/* To Top Starts */

.totop {
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:500;
	border-radius:2px;
	background:rgba(0, 0, 0, 0.4);
}

.totop a, .totop a:visited{
	display:block;
	width:35px;
	height:35px;
	text-align:center;
	line-height:33px;
	font-size:15px;
	color:#fff;
}

.totop a:hover {
	text-decoration:none;
}
/* new footer */
.link-footer{
    padding-bottom:30px;
    text-align:left;
}
.link-footer i {
    border: solid #555555;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom:1px;
}
.link-footer p {
    color:#333;
}

.link-footer .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.link-footer h3{
    margin:0px;
    padding:0px;
    margin-bottom:10px;
    margin-top:16px;
    color:#101010;
}
.link-footer ul{
    list-style:none;
    padding:0px;
    margin:0px;
    padding-left:10px;
}
.link-footer ul li{
    display:block;
    padding-bottom:5px;
}
.link-footer ul li a{
    font-size:14px;
    color:#333;
    white-space:nowrap;
}
.link-footer ul li a span{
    padding-left:8px;
    display:inline-block;
}



/* To Top Ends */

/* Responsive CSS */

/* Mobile phones */

@media (max-width: 480px){
	.tp-banner-container .btn-slider{
		margin-top: 15px;
		padding:6px 10px;
		font-size:12px;
	}
	
	.contact .heading h2{
		font-size:22px;
		line-height:28px;
	}
	.contact .heading p{
		font-size:14px;
		line-height:22px;
	}
	.flex .flexslider{
		min-height: 300px;
		padding: 50px 0;
	}
	.flex .flex-two h3 { font-size: 30px !important; }
	.flex .flex-two p { font-size: 14px !important; line-height:20px;}
	.flex .flex-two .btn-startnow{
		margin-right: 15px;
		margin-bottom: 30px;
	}
	.flex .flex-two .btn-downloadapp{
		margin-bottom: 30px;
	}
	.features-ele .features-ele-item h4{font-size:16px !important;}
	.features-ele .features-ele-item p{font-size:13px !important; line-height: 20px;}
}

/* Tablets */
@media (max-width: 767px){
	body{
        padding-top: 50px;
    }
	.header .navbar { padding-top: 0px; padding-bottom: 0px; }
	.header .navbar-brand  h1 { line-height:15px; font-size:22px; }
	.header .navbar-brand h1 i{ font-size:20px; }
	.header .navbar-nav>li>a { 
		line-height: 0px; 
		font-size: 16px; 
		font-weight:600;
	}
	.navbar-brand {
		padding: 10px 15px;
	}
	.navbar-brand img{
		max-width:100%;
		height:30px;
	}
	.examCol, .examSet{
		width:100%;
	}
    .featureCol{
        width:100%;
    }
	.flex .flex-two h3 {
		font-size: 50px;
	}
	.features-ele .features-ele-item h4{font-size:20px !important;}
	.flex .flex-two .btn-startnow{
		margin-right: 15px;
		margin-bottom: 30px;
	}
	.flex .flex-two .btn-downloadapp{
		margin-bottom: 30px;
	}
}
/* Desktop */
@media (min-width:768px) and (max-width: 991px){
	.examCol{
		width:50%;
	}
    .examSet{
        width:100%;
    }
    .featureCol{
        width:50%;
    }
}
@media (max-width: 991px){
	.nav li a{
		font-size:13px !important;
		padding-left:5px !important;
		padding-right:5px !important;
	}
	
}
@media (min-width:992px) and (max-width: 1200px){
    .header .navbar-nav > li > a{
        padding:23px 14px;
    }
}

@media (max-width:560px){
	
	.flex .flex-two p{font-size:14px !important; line-height: 20px;}
}


.less-padd
{
padding:15px;
}

/* Mobile Ad */
.mobile-appAd{
    background: #f8df7b;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:130px;
}
.mobile-appAd> div>table> tbody> tr> td{
    border-top:0px;
}

.mobile-appAd h3{
    font-size:14px;
    color:#374046;
    margin-top: 0px;
    line-height:18px;
    font-weight: 600;
}
/* Mobile Ad End*/

.openinapp{
    position:fixed;
    left:0px;
    right:0px;
    bottom:5px;
    display:none;
    justify-content:center;
    align-items:center;
    z-index:2001;
}
.openinapp a{
    text-decoration:none;
    background-color:#004EC5;
    font-size:14px;
    font-weight:600;
    line-height:14px;
    padding:6px 16px 8px 16px;
    border-radius:15px;
    box-shadow:0 0 4px 2px rgba(0,0,0,.2);
    color:#FFF;
}
.openinapp a:hover, .openinapp a:focus{
    color:#FFF;
}
