@media (min-width: 768px) {

.big-padd{
	padding:0px 80px;
}
h2{
}
}
@media (max-width: 768px) {

.big-padd{
	padding:0px 15px;
}
h2{
	font-size:30px;
}
}
h2{
	font-size:40px;
}
.freedoc-margin{
	margin-top:30px;
}
.container-fluid{
	background:#609CEC;
	max-width: 278px;
	margin: 0 auto;
	padding:15px;
	border-radius:5px;
}
.freedoc-cont h3, .freedoc-cont p{
	color:#FFF !important;
	line-height:30px;
}
.freedoc-cont{
	padding:15px 0px;
}
.freedoc-fbdw{
	margin-top:25px;
	max-width:125px;
}
	
