/************************
Designed by : http://responsivewebinc.com
************************/
/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

/* Basic CSS starts */

body{
	padding-top: 70px;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background:#fff;
}
a {
    color: #777777;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h5 {
    line-height: 20px;
}
p{
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 28px;
}
h2 {
    font-size: 40px;
}
h4 {
    font-size: 21px;
}
.less-padd {
    padding: 15px;
}
a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
}
:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}
.form-control,
.form-control:focus{
	box-shadow:none !important;
}

.btn{
  -webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}

.btn:hover{
  -webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}

.btn i{
	margin-right:5px;
}
.btn {
    border-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    outline: 0 none !important;
}
/* Theme Default Button */

.btn-theme {
  color: #fff !important;
  border:0px;
  border-radius:2px;
  font-size:15px;
  padding:8px 20px;
}

.btn-theme {
  background: #609cec;
}
.btn-theme:hover {
  background: #528fe2;
}
/* Border */

.bor{
	width:70px;
	height:3px;
	margin:5px auto;
}

/* Default Padding */

.padd { padding: 75px 0; }
.padd1 { padding: 10px 0; }

/* Social Media */

.social a i {
   display:inline-block;
   width:40px;
   height:40px;
   font-size:15px;
   line-height:40px;
   text-decoration:none;
   text-align:center;
   color:#fff;
   -webkit-transition: background 1.5s ease;
      -moz-transition: background 1.5s ease;
        -o-transition: background 1.5s ease;
       -ms-transition: background 1.5s ease;
           transition: background 1.5s ease;
}
.social a:hover i { background:#000; }
.social a, .social a:hover {
   border:0px;
   text-decoration:none;
}

/* Heading */

.heading p{
	font-size:15px;
	line-height:30px;
	max-width:500px;
	margin:0 auto;
	text-align:center;
}
/* Basic CSS ends */
/* Header */

.header .navbar { 
	margin: 0;
	background: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.header .navbar-brand  h1 {
	display: inline-block;
	font-size: 30px;
	font-weight:600;
	line-height:40px;
	margin:0px;
	padding:0px;
	color: #777;
}

.header .navbar-brand h1 i{
	display:inline-block;
	font-size:28px;
	margin-right:2px;
}

.header .navbar-nav>li>a {
	padding: 25px 18px;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	color: #777;
	background:transparent;
	text-transform: uppercase;
   -webkit-transition: background 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
       -ms-transition: background 0.5s ease-in-out;
           transition: background 0.5s ease-in-out;
}

.header .navbar-nav>li>a:hover,
.header .navbar-nav>li>a:focus { 
	color:#fff; 
   -webkit-transition: background 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
       -ms-transition: background 0.5s ease-in-out;
           transition: background 0.5s ease-in-out;	
}

.header .navbar-nav>li.active>a{
	color:#fff;
}

.header .icon-bar{
	background:#fff;
}
/* Border */
.bor {
  background: #609cec;
}
/* Navigation Menu */
.header .navbar .navbar-brand > h1 > i {
  color: #609cec;
}
.header .navbar .navbar-nav > li > a:hover {
  background: #609cec !important;
}
.header .navbar .navbar-nav > li > a:focus {
  background: #609cec !important;
}
.header .navbar .navbar-nav > li.active > a {
  background: #609cec !important;
}
.header .navbar .navbar-toggle {
  background: #609cec;
}
/* Default Heading */
.default-heading .dh-icon i {
  color: #609cec;
}

/* header end */
/* signup */
.col-centered
{
	float:none;
	margin:0 auto;
}
.signup-content{
	max-width:800px;
	margin:30px auto 10px auto;
}
  
.signup-content h5 {
	font-size: 40px;
	padding-bottom:15px;
}

.signup-content form { 
	color:#999;
	margin-bottom:20px;
}

.signup-content form label{
	font-weight:normal !important;
	margin-top:5px !important;
}

.signup-content form .form-group { margin-bottom: 20px; }
.signup-content form .form-group input {
	height: 45px;
	font-size: 14px;
}

.signup-content form textarea { 
	font-size: 14px; 
	padding:15px; 
}

.signup-content .form-control,
.signup-content form button { border-radius: 2px;}
.sptop {
    padding-bottom: 10px;
}
.signn-bt
{
	margin-top:10px;
}
#lsignup
{
	margin-bottom: 3px;
}
.errMsg
{
	padding: 10px;
}
.errMsg p
{
	color:#609CEC;
}
.rerrMsg
{
	/*display: none;*/
}
.rerrMsg p
{
	color:#609CEC;
}
.uerrMsg
{
	padding: 10px;
}
.uerrMsg p
{
	color:#609CEC;
}
.form-control {
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-shadow: none !important;
    font-size: 16px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}
.or-divider{
	font-size: 16px;
	border:1px solid #ccc;
	text-align: center;
	margin-top: 10px;
	margin-bottom:10px;
	border-radius:16px;
	width:32px;
}
.btn-social.btn-lg {
    padding-left: 61px;
}
.btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.btn-social {
    overflow: hidden;
    padding-left: 44px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
    background-color: #30487b;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}
.sign-in-change {
    padding-top: 10px;
}
.sign-up-new
{
	padding-top:10px;
}
.sign-up-new .gsign
{
	color:#609CEC;
}
.sign-in-change .gsign
{
	color:#609CEC;
}
.forgot-password
{
	color:#609CEC;
}

.forgotpass-wrap .resetpass
{
	display: none;
}

.forgotpass-wrap
{
	display: none;
}
.spgsign
{
	color:#609CEC;
}
/* signup */
/* Footer */

.footer {
	padding: 50px 0; 
	border-top:1px solid #f5f5f5;
	background-color:#FFFCF5;
}

.footer .footer-social{
	margin-bottom:30px;
}

.footer .footer-social a i{
	height:50px;
	width:50px;
	line-height:50px;
	font-size:20px;
	margin:0px 5px;
	border-radius:50px;
}
/****************/
/* Social */
/****************/
.social a.facebook i {
  background: #1e78ae;
}
.social a.twitter i {
  background: #1ba1e2;
}
.social a.google-plus i {
  background: #f22d0c;
}
.social a.linkedin i {
  background: #2d93cf;
}
.social a.pinterest i {
  background: #dd1617;
}
.social a:hover i {
  background: #333333;
}
.footerlinks {
    color: #609cec;
}
p {
    font-size: 14px;
    line-height: 28px;
}
/* Footer End */
/* To Top Ends */

/* Mobile Ad */
.mobile-appAd{
    background: #f8df7b;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:130px;
}
.mobile-appAd> div>table> tbody> tr> td{
    border-top:0px;
}

.mobile-appAd h3{
    font-size:14px;
    color:#374046;
    margin-top: 0px;
    line-height:18px;
    font-weight: 600;
}
/* mobile ad End */
/* Mobile phones */

@media (max-width: 767px){
	.header .navbar { padding-top: 10px; padding-bottom: 10px; }
	.header .navbar-brand  h1 { line-height:15px; font-size:22px; }
	.header .navbar-brand h1 i{ font-size:20px; }
	.header .navbar-nav>li>a { 
		line-height: 0px; 
		font-size: 16px; 
		font-weight:600;
	}
	
}