<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 questioncontent">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pl-0">
				<p><b data-step="3" data-intro="You may note down Test ID for future reference if needed" data-position="right" data-scrollto="tooltip">Test ID : 844596216</b></p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" data-step="4" data-intro="Answer question given below according to this command" data-position="right" data-scrollto="tooltip">
				<p>
				<b>
					Choose the single best answer                                </b>
				</p>
			</div>
	
			<div class="clearfix"></div>
			<div class="right_side_bar" style="background-image: url(http://localhost:8000/images/PrepOn_icon.png); baseline-shift:all;">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-right">
					<input type="hidden" value="433241" name="test_question_link_id" id="test_question_link_id">
					<h3><b>1 of  1</b> <small>(QID: 142536432)</small> <span class="label label-info">Past Paper Question</span> <i class="fa fa-bookmark-o fs-32" id="marked" style="display:none" aria-hidden="true"></i></h3>
					<div class="peragraph">
						<p><span style="font-size:16px"><strong>Chemistry has a task to Investigate _______ of matter</strong></span></p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 tst-scrn-qustn-grp">
					<div class="radio_btn">
						<div class="form-check ">
							<label>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 d-flex align-items-center">
									<i class="fa fa-check green" id="g_1"></i>
									<i class="fa fa-times red" id="r_1"></i>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<input type="radio" name="answer_val" id="answer_val" value="1"> <span class="label-text " id="ans_1">A.</span>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 p-0">
									<small style="font-weight:normal;">Changes </small>
								</div>
								<div class="clearfix"></div>
							</label>
						</div>
						<div class="form-check ">
							<label>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 d-flex align-items-center">
									<i class="fa fa-check green" id="g_2"></i>
									<i class="fa fa-times red" id="r_2"></i>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<input type="radio" name="answer_val" id="answer_val" value="2"> <span class="label-text " id="ans_2">B.</span>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 p-0">
									<small style="font-weight:normal;">Composition </small>
								</div>
								<div class="clearfix"></div>
							</label>
						</div>
						<div class="form-check ">
							<label>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 d-flex align-items-center">
									<i class="fa fa-times red" id="r_3"></i>
									<i class="fa fa-check green" id="g_3"></i>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<input type="radio" name="answer_val" id="answer_val" value="3"> <span class="label-text " id="ans_3">C.</span>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 p-0">
									<small style="font-weight:normal;">Structure </small>
								</div>
								<div class="clearfix"></div>
							</label>
						</div>
						<div class="form-check ">
							<label>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 d-flex align-items-center">
									<i class="fa fa-check green" id="g_4"></i>
									<i class="fa fa-times red" id="r_4"></i>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<input type="radio" name="answer_val" id="answer_val" value="4"> <span class="label-text " id="ans_4">D.</span>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 p-0">
									<small style="font-weight:normal;">All of these</small>
								</div>
								<div class="clearfix"></div>
							</label>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center submit-view-detail mt-30 mb-10">
<a title="Correct Answer" data-step="7" data-intro="View relevant details of this question" data-position="left" data-scrollto="tooltip" class="white bg-blue rounded p-10 d-block m-auto" onclick="submit_answer('https://app.topgrade.pk/', true)" id="submit" style="cursor: pointer"> View Details <i class="fa fa-check-circle"></i></a>
<a onclick="ReportIssueModal()" class="text-black d-block" style="cursor: pointer;margin: 20px auto;font-size: 16px;text-decoration: underline;"> Report an issue </a>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                                        <div class="clearfix"></div>

                                                        <!--modal-->
                                                        <div class="modal fade" id="report_issue_model">
                                                        	<div class="modal-dialog">
                                                        		<div class="modal-content">

                                                        			<!-- Modal Header -->
                                                        			<div class="modal-header">
                                                        				<button type="button" class="close" data-dismiss="modal">×</button>
                                                        			</div>

                                                        			<!-- Modal body -->
                                                        			<div class="modal-body">
                                                        				<div class="row clearfix">
                                                        					<div class="col-lg-12 text-center">
                                                        						<figure>
                                                        							<img class="img-fluid" src="https://app.topgrade.pk/assets/images/xreport-issue.jpg.pagespeed.ic.fWOenPjkiL.webp" data-pagespeed-url-hash="3982054518" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                                        						</figure>
                                                        						<h3 class="mt-0"><b>Report an Issue</b></h3>
                                                        						<p>Select one of the issues to let us know</p>
                                                        						<hr>
                                                        						<p class="text-left">
                                                        							<input type="radio" id="featured-1" name="issue" value=" Question Seems Invalid" checked="">
                                                        							<label class="w-100" for="featured-1"> Question Seems Invalid</label>
                                                        							<input type="radio" id="featured-2" name="issue" value="Given Answer/Explanation Seems Wrong">
                                                        							<label class="w-100" for="featured-2">Given Answer/Explanation Seems Wrong</label>
                                                        							<input type="radio" id="featured-3" name="issue" value="Request an Explanation">
                                                        							<label class="w-100" for="featured-3">Request an Explanation</label>
                                                        							<input type="radio" id="featured-4" name="issue" value="0">
                                                        							<label class="w-100" for="featured-4">Other</label>
                                                        						</p><div class="form-group">
                                                        							<textarea class="form-control" style="display:none" id="issue_msg" name="issue_msg" rows="3"></textarea>
                                                        						</div>
                                                        						<p></p>
                                                        						<hr>
                                                        						<a onclick="SendIssue('https://app.topgrade.pk/')" class="bg-blue text-white d-block rounded">Send Issue</a>
                                                        					</div>
                                                        				</div>
                                                        			</div>

                                                        			<!-- Modal footer -->
                                                        			<div class="modal-footer">
                                            <!--                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            	<button type="button" class="btn btn-primary" onclick="ReferFrnd()">Proceed</button>-->
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="report_issue_model-dumy">
                                	<div class="modal-dialog">
                                		<div class="modal-content">

                                			<!-- Modal Header -->
                                			<div class="modal-header">
                                				<button type="button" class="close" data-dismiss="modal">×</button>
                                			</div>

                                			<!-- Modal body -->
                                			<div class="modal-body">
                                				<div class="row clearfix">
                                					<div class="col-lg-12 text-center">
                                						<figure>
                                							<img class="img-fluid" src="https://app.topgrade.pk/assets/images/xfresh-repeater.jpg.pagespeed.ic.9MOvgXW4Ib.webp" data-pagespeed-url-hash="534631301" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                						</figure>
                                						<h3 class="mt-0"><b>Welcome to Topgrade.pk Family</b></h3>
                                						<p>Select one of the Following</p>
                                						<hr>
                                						<p class="text-left">
                                							<input type="radio" id="featured-11" name="issue" value=" Question Seems Invalid" checked="">
                                							<label class="w-100" for="featured-11"> Fresh</label>
                                							<input type="radio" id="featured-12" name="issue" value="Given Answer/Explanation Seems Wrong">
                                							<label class="w-100" for="featured-12">Repeater</label>
                                							<input type="radio" id="featured-13" name="issue" value="Request an Explanation">

                                							<label class="w-100" for="featured-13">Ist Year</label>
                                							<input type="radio" id="featured-14" name="issue" value="0">
                                							<label class="w-100" for="featured-14">2nd Year</label>
                                						</p><div class="form-group">
                                							<textarea class="form-control" style="display:none" id="issue_msg" name="issue_msg" rows="3"></textarea>
                                						</div>
                                						<p></p>
                                						<p class="text-left">Fsc Obtained Marks:<strong>800</strong></p>
                                						<p class="text-left">Fsc Total Marks: <strong>1100</strong></p>

                                						<p class="text-left">Ist Year Obtained Marks:<strong>364</strong></p>
                                						<p class="text-left">Ist Year Total Marks:<strong>560</strong></p>

                                						<p class="text-left">2nd Year Obtained Marks:<strong>436</strong></p>
                                						<p class="text-left">2nd Year Total Marks:<strong>540</strong></p>
                                						<hr>
                                						<a onclick="SendIssue('https://app.topgrade.pk/')" class="bg-blue text-white d-block rounded">Send Issue</a>
                                					</div>
                                				</div>
                                			</div>

                                			<!-- Modal footer -->
                                			<div class="modal-footer">
                                            <!--                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            	<button type="button" class="btn btn-primary" onclick="ReferFrnd()">Proceed</button>-->
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <!--end fresh/repeater modal-->
                                <div class="modal fade" id="report_issue_model_thanks">
                                	<div class="modal-dialog">
                                		<div class="modal-content">
                                			<!-- Modal Header -->
                                			<div class="modal-header">
                                				<button type="button" class="close" data-dismiss="modal">×</button>
                                			</div>
                                			<!-- Modal body -->
                                			<div class="modal-body">
                                				<div class="row clearfix">
                                					<div class="col-lg-12 text-center">
                                						<figure>
                                							<img class="img-fluid" src="https://app.topgrade.pk/assets/images/xthanks.png.pagespeed.ic.OkkRPm69HW.webp" data-pagespeed-url-hash="2591262323" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                						</figure>
                                						<!--<h3 class="mt-0"><b>Report an Issue</b></h3>-->
                                						<p>We will review your issue and get back to you as soon as possible.</p>

                                						<!--<hr></hr>-->
                                						<!--<a  class="bg-blue text-white d-block rounded" data-dismiss="modal" >Ok</a>-->
                                					</div>
                                				</div>
                                			</div>
                                			<!-- Modal footer -->
                                			<div class="modal-footer">
                                            <!--                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            	<button type="button" class="btn btn-primary" onclick="ReferFrnd()">Proceed</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="empty-div">
                                	&nbsp;
                                </div>
                            </div>
                            <!--tabs-->
                            <!--new tabs-->
                            <div class="portlet box blue" id="desktop">
    <!--    <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Left Tabs </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            </div>
        </div>-->
        <div class="portlet-body">
        	<div class="row">
        		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        			<ul class="nav nav-tabs tabs-left">
        				<li class="active">
        					<a data-toggle="tab" href="#home"><i class="fa fa-caret-right black" aria-hidden="true"></i><i class="d-none fa fa-caret-down black" aria-hidden="true"></i>&nbsp; Text Explanation</a>
        				</li>

        				<li>
        					<a data-toggle="tab" href="#menu6"><i class="fa fa-caret-right black" aria-hidden="true"></i><i class="d-none fa fa-caret-down black" aria-hidden="true"></i>&nbsp; Other Options </a>
        				</li>
        				<li>
        					<a data-toggle="tab" href="#menu8"><i class="fa fa-caret-right black" aria-hidden="true"></i><i class="d-none fa fa-caret-down black" aria-hidden="true"></i>&nbsp; Question Details </a>
        				</li>

        			</ul>
        		</div>
        		<input type="hidden" name="_q_r" id="_q_r" value="46733">
        		<input type="hidden" name="_fill_v" id="_fill_v" value="0">
        		<input type="hidden" name="_fill_r" id="_fill_r" value="0">
        		<input type="hidden" name="_q_id" id="_q_id" value="43047">
        		<input type="hidden" name="_sub_s_id" id="_sub_s_id" value="335">
        		<input type="hidden" name="_t_id" id="_t_id" value="14089">
        		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        			<div class="tab-content py-20">

        				<div id="home" class="tab-pane fade in active">
        					<p style="text-align:justify"><span style="font-size:16px">The branch of science concerned with the substances of which matter is composed, the investigation of their properties and reactions, and the use of such reactions to form new substances.</span></p>
        				</div>


        				<div id="menu6" class="tab-pane fade ">
        					<div class="col-lg-12 mb-10"><strong style="font-size: 16px;line-height: 22px;">OPENS IN NEW TAB</strong></div>
        					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4 text-center">
        						<a class="white bg-blue rounded p-10 d-block text-center text-decoration cursor-pointer" onclick="LoadVideos('https://app.topgrade.pk/', '335', '110', 'chemistry', 'Chemistry')">Watch  Videos</a>
        					</div>
        					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-4 text-center">
        						<a class="white bg-blue rounded p-10 d-block text-center text-decoration cursor-pointer" onclick="LoadSlides('https://app.topgrade.pk/', '335', '789', 'chemistry', 'Chemistry')">View Slides</a>

        					</div>

        				</div>
        				<div id="menu8" class="tab-pane fade ">
        					<div class="blue-bg">
        						<ul>
        							<li>
        								<strong>Your Result:</strong>&nbsp;
        								<span id="user_answer_d">Unanswered</span>
        							</li>

        							<li>
        								<strong>Subject:</strong>&nbsp;
        								<span>Chemistry</span>
        							</li>
        							<li>
        								<strong>Section:</strong>&nbsp;
        								<span>Stoichiometry</span>
        							</li>

        							<li>
        								<strong>Sub Section:</strong>&nbsp;
        								<span>Atom, Molecules &amp; Ions</span>
        							</li>
        							<li>
        								<strong>Your Pace:</strong>&nbsp;
        								<span id="user_pace_d">0 sec</span>
        							</li>
        							<li>
        								<strong>Recommended Pace:</strong>&nbsp;
        								<span>40 sec</span>
        							</li>
        							<li>
        								<strong>Difficulty:</strong>&nbsp;
        								<span>Low</span>
        							</li>
        						</ul>
        					</div>
        				</div>


        			</div>
        		</div>
        	</div>
        </div>
    </div>
    <!--end new tabs-->



    <div class="clearfix"></div>

    <div class="empty-div">
    	&nbsp;
    </div>

    <!--yellow bg-->
    <div class="yellow-bg fixed-bottom bg-gray">
    	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    		<a title="Previous" class="white dull" onclick="PreQuestion('https://app.topgrade.pk/', '844596216',0, '')" data-step="8" data-intro="Go to previous question" data-position="left"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Prev</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    		<a title="Book Mark" id="mark_question" data-step="9" data-intro="Bookmark question. You can use Bookmarked questions to create new test later on" style="cursor: pointer;display: " onclick="Mark_Question('https://app.topgrade.pk/')" class="dark">Bookmark <i class="fa fa-pencil"></i></a>
    		<a title="Remove Bookmark" id="unmark_question" style="cursor: pointer; display: none" onclick="Mark_Question('https://app.topgrade.pk/')" class="dark"> Unbookmark <i class="fa fa-pencil"></i></a>
    	</div>


    	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    		<a title="Test Overview" data-step="10" data-intro="Have an overview of entire test" data-position="left" data-scrollto="tooltip" class="white" onclick="TestOverView('https://app.topgrade.pk/', '844596216', '2')">Test Overview <i class="fa fa-book" aria-hidden="true"></i></a>
    	</div>

    	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    		<a title="Finish Test" data-step="11" data-intro="Finish test and move to test result" data-position="left" data-scrollto="tooltip" style="cursor: pointer" onclick="FinishTest('https://app.topgrade.pk/', '844596216', 0,2)" class="bg-red rounded white">Finish <i class="fa fa-flag-o" aria-hidden="true"></i> </a>

    	</div>
    	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    		<a title="Next" data-step="12" data-intro="Go to next question" data-position="left" data-scrollto="tooltip" style="cursor: pointer; pointer-events:none" onclick="NextQuestion('https://app.topgrade.pk/',2, '844596216', '',2)" class="white curved dull">Next <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> </a>

    	</div>
    	<div class="clearfix"></div>
    </div>
    <!--end yellow bg-->

</div>