	.mtq_quiz_area div {
		max-width: none!important
	}
	.mtq_css_letter_button {
		width: 40px;
		height: 40px;
		display: block;
		border-radius: 40px;
		-moz-border-radius: 40px;
		-webkit-border-radius: 40px;
		-khtml-border-radius: 40px;
		font-size: 30px;
		line-height: 40px;
		text-decoration: none;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif
	}
	.mtq_quiz_area table {
		border: none
	}
	.mtq_quiz_area td, .mtq_quiz_area tr td {
		border: none;
		padding: 0;
		vertical-align: middle
	}
	.mtq_css_button {
		display: block;
		font-weight: 600;
		font-size: 125%;
		text-align: center;
		width: 8em;
		margin-left: auto;
		margin-right: auto;
		-o-border-radius: 2em;
		-moz-border-radius: 2em;
		-webkit-border-radius: 2em;
		border-radius: 2em;
		padding: .5em
	}
	.mtq_results_button {
		width: 8em
	}
	.mtq_question_text {
		padding-right: 2em;
		width: 90%
	}
	.mtq_quiz_status {
		text-align: center
	}
	.mtq_quiz_area {
		text-align: left
	}
	.mtq_answer_text {
		float: left;
		display: block
	}
	.mtq_instructions {
		display: none;
		margin-bottom: 1em
	}
	.mtq_javawarning {
		text-align: center;
		font-weight: 600
	}
	.mtq_quiztitle {
		text-align: center;
		display: block
	}
	.mtq_results_request {
		display: block;
		text-align: center;
		margin-top: .5em
	}
	.mtq_question_heading_table {
		width: 100%!important;
		border-collapse: collapse;
		margin: .5em 0;
		padding: 0 0 .1em!important
	}
	.mtq_answer_table {
		width: 85%!important;
		padding-right: 1em;
		margin-top: 1em;
		text-align: left;
		border-collapse: collapse
	}
	.mtq_answer_table td {
		padding-top: .5em!important;
		padding-bottom: .5em!important
	}
	.mtq_oce_first {
		border-right: 1em solid transparent;
		border-left: 1em solid transparent;
		vertical-align: middle;
		text-align: center
	}
	.mtq_answer_td {
		margin-left: .25em
	}
	.mtq_letter_button_td {
		width: 30px
	}
	.mtq_action_button {
		display: block;
		margin-top: .5em;
		margin-bottom: .5em;
		font-size: 200%
	}
	.mtq_quiz_results_bubble {
		display: none;
		-o-border-radius: 1em;
		-moz-border-radius: 1em;
		-webkit-border-radius: 1em;
		border-radius: 1em;
		margin-top: 1em;
		margin-bottom: 1em;
		border: none;
		padding: .5em
	}
	.mtq_quiz_results_highlight {
		margin-top: 1em;
		font-size: 75%;
		font-weight: 600;
		text-align: center
	}
	.mtq_question_label {
		font-weight: 600;
		float: left
	}
	.mtq_stamp {
		float: left;
		margin-left: .5em;
		margin-bottom: .25em;
		text-align: center;
		padding-left: .5em;
		padding-right: .5em;
		-o-border-radius: 2em;
		-moz-border-radius: 2em;
		-webkit-border-radius: 2em;
		border-radius: 2em;
		font-weight: 600;
		text-transform: uppercase
	}
	.mtq_correct_marker {
		display: block;
		width: 40px;
		height: 40px;
		background: url(https://pakmcqs.com/wp-content/plugins/mtouch-quiz/images/correct.png) no-repeat 0 0
	}
	.mtq_wrong_marker {
		display: block;
		width: 40px;
		height: 40px;
		background: url(https://pakmcqs.com/wp-content/plugins/mtouch-quiz/images/wrong.png) no-repeat 0 0
	}
	.mtq_marker, .mtq_preload {
		display: none
	}
	.mtq_failed_button {
		font-weight: 600;
		font-size: 125%;
		color: #B5281E;
		background: #fff;
		border: thin solid;
		border-color: #B5281E;
		text-align: center;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		border: thin solid;
		-o-border-radius: 2em;
		-moz-border-radius: 2em;
		-webkit-border-radius: 2em;
		border-radius: 2em;
		border-color: #B5281E;
		padding: .5em
	}
	.mtq_color_blue .mtq_css_button, .mtq_color_blue .mtq_css_letter_button {
		color: #fff;
		background: #005826
	}
	.mtq_color_blue .mtq_quiz_results_bubble {
		color: #e3e6e3;
		background: #005826!important;
		border-color: #005826!important
	}
	.mtq_color_blue .mtq_question_heading_table {
		border-bottom: .1em solid #005826!important
	}
	.mtq_color_blue .mtq_oce_first {
		background: #8EFC99
	}
	.wp-block-media-text .wp-block-media-text__media {
		grid-area: media-text-media;
		margin: 0
	}
	.wp-block-media-text .wp-block-media-text__content {
		word-break: break-word;
		grid-area: media-text-content;
		padding: 0 8%
	}
	.shos-header-bar {
		position: fixed;
		z-index: 99995;
		top: 0;
		left: 0;
		width: 100%;
		height: 66px;
		background-color: #F6F6F6;
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
		-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, .5)
	}
	.shos-header-bg {
		position: fixed;
		z-index: 99996;
		top: 0;
		left: 0;
		width: 100%;
		height: 66px;
		background-color: #F6F6F6;
		opacity: 0.1!important
	}
	.shos-contents-wrapper {
		position: fixed;
		z-index: 99997;
		top: 0;
		left: 0;
		width: 100%;
		height: 66px;
		overflow: hidden
	}
	.shos-header-bar, .shos-header-bg, .shos-contents-wrapper {
		opacity: 0;
		-webkit-transform: translateY(-66px);
		-moz-transform: translateY(-66px);
		transform: translateY(-66px)
	}
	.shos-main-menu-button-wrapper {
		width: 66px;
		height: 100%;
		display: table;
		float: left;
		padding: 13px 0;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box
	}
	.shos-main-menu-button-inner {
		position: relative;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		border-right: 1px solid #ddd
	}
	.shos-main-menu-button-inner::before {
		position: absolute;
		left: 0;
		right: 0;
		top: auto;
		bottom: auto;
		margin-top: 20px;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 10px;
		line-height: 10px;
		color: #8C8C8C;
		text-align: center
	}
	.shos-main-menu-button:before, .shos-main-menu-button div.shos-main-menu-button-middle:before, .shos-main-menu-button:after {
		position: relative;
		content: '';
		display: block;
		width: 19px;
		height: 2px;
		margin: 4px auto;
		background-color: #787878;
		border-radius: 3px
	}
	.shos-by-bonfire-wrapper {
		position: fixed;
		z-index: 99999999;
		top: 64px;
		bottom: 0;
		left: -1000%;
		margin: 0;
		padding: 10px 0 0 0;
		width: 100%;
		min-width: 150px;
		max-width: 300px;
		overflow: hidden
	}
	.shos-by-bonfire {
		position: relative;
		z-index: 99999997;
		width: calc(100% - 14px);
		max-height: calc(100% - 10px);
		margin: 0 auto;
		top: 0;
		right: 0;
		left: 0;
		overflow-y: auto;
		overflow-x: hidden;
		border-radius: 2px;
		background-color: #fff;
		-webkit-transform: translateY(-7px);
		-moz-transform: translateY(-7px);
		transform: translateY(-7px);
		-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
		-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25)
	}
	.smooth-scroll {
		-webkit-overflow-scrolling: touch
	}
	.shos-by-bonfire ul {
		display: block;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0
	}
	.shos-by-bonfire ul li {
		position: relative;
		width: 100%;
		min-width: 150px;
		min-height: 53px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: left;
		overflow-x: hidden
	}
	.shos-by-bonfire ul li a {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		color: #65696C;
		margin: 0;
		padding: 20px 10px 17px 15px;
		display: inline-block;
		text-decoration: none;
		width: 100%
	}
	.shos-by-bonfire .menu {
		list-style: none;
		margin: 0;
		padding: 0
	}
	.shos-by-bonfire ul.sub-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: none;
		background-color: #F8F8F7
	}
	.shos-by-bonfire .sub-menu a {
		color: #848482;
		margin: 0
	}
	.shos-by-bonfire .menu>li {
		border-bottom: 1px solid #E7E7E7
	}
	.shos-by-bonfire .menu li:last-child {
		border-bottom: none
	}
	.shos-by-bonfire ul.sub-menu>li:first-child {
		border-top: 1px solid #E7E7E7
	}
	.shos-by-bonfire ul li ul li:after {
		position: absolute;
		top: 0;
		left: 5px;
		right: 5px;
		content: '';
		height: 1px;
		background-color: #E6E6E6
	}
	.shos-by-bonfire ul.menu>li>ul.sub-menu>li:first-child:after {
		display: none
	}
	.shos-logo-wrapper {
		height: 100%;
		display: table;
		float: left
	}
	.shos-logo-wrapper .shos-logo-inner {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		padding: 0 15px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box
	}
	.shos-logo-wrapper .shos-logo-inner img {
		display: block;
		width: auto;
		height: 45px
	}
	.shos-logo-wrapper a {
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 19px;
		line-height: auto;
		text-decoration: none;
		letter-spacing: 0;
		color: #787878;
		margin: 0;
		padding: 0
	}
	a.junkie-button, a.junkie-button:visited {
		background-color: #0c6fb1;
		background-image: -webkit-linear-gradient(top, #14a7cf, #0c6fb1);
		background-image: -moz-linear-gradient(top, #14a7cf, #0c6fb1);
		background-image: linear-gradient(top, #14a7cf, #0c6fb1);
		border: 1px solid #0d507a!important;
		-webkit-border-radius: 16px;
		border-radius: 16px;
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .4);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .4);
		color: #ffffff!important;
		display: inline-block;
		font-family: Helvetica, Arial, Sans-serif;
		font-size: 14px;
		font-weight: 700;
		line-height: 1em;
		margin: 0 .1em 1.5em 0!important;
		outline: none;
		padding: 7px 13px!important;
		text-align: center;
		text-decoration: none!important;
		text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
		vertical-align: middle
	}
	a.junkie-button.grey {
		background-color: #e5e5e5;
		background-image: -webkit-linear-gradient(top, #efefef, #e5e5e5);
		background-image: -moz-linear-gradient(top, #efefef, #e5e5e5);
		background-image: linear-gradient(top, #efefef, #e5e5e5);
		border-color: #acacac!important;
		color: #555555!important;
		text-shadow: 0 1px 0 rgba(255, 255, 255, .2)
	}
	.header-item, .navigation-item, .site-content {
		max-width: 980px;
		margin-left: auto;
		margin-right: auto
	}
	.header-item:after, .navigation-item:after, .site-content:after {
		content: " ";
		display: block;
		clear: both
	}
	@media screen and (min-width:320px) {
		.header-item, .navigation-item, .site-content {
			padding: 0 3%
		}
	}
	@media screen and (min-width:1025px) {
		.header-item, .navigation-item, .site-content {
			padding: 0
		}
	}
	html {
		font-family: sans-serif;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%
	}
	body {
		margin: 0
	}
	article, aside, header, main, nav {
		display: block
	}
	a {
		background: transparent
	}
	strong {
		font-weight: 700
	}
	h1 {
		font-size: 2em;
		margin: .67em 0
	}
	small {
		font-size: 80%
	}
	img {
		border: 0
	}
	input, textarea {
		color: inherit;
		font: inherit;
		margin: 0
	}
	input::-moz-focus-inner {
		border: 0;
		padding: 0
	}
	input {
		line-height: normal
	}
	textarea {
		overflow: auto
	}
	table {
		border-collapse: collapse;
		border-spacing: 0
	}
	td {
		padding: 0
	}
	*, *:before, *:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
	html {
		font-size: 13px;
		line-height: 1.5em;
		min-height: 100%
	}
	body {
		background: #fff;
		color: #555;
		font-family: "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400
	}
	.screen-reader-text {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute
	}
	div, ul, li, h1, h2, h3, h6, form, p, td {
		direction: ltr;
		margin: 0;
		padding: 0
	}
	a {
		color: #003F1A;
		text-decoration: none
	}
	a:visited {
		color: #003F1A
	}
	h1, h2, h3, h6 {
		margin: 10px 0;
		margin: .7692307692rem 0;
		color: #474747;
		font-family: "Open Sans", sans-serif;
		font-style: normal;
		font-weight: 400
	}
	h1 {
		font-size: 36px;
		font-size: 2.7692307692rem;
		line-height: 1.1em
	}
	h2 {
		font-size: 30px;
		font-size: 2.3076923077rem;
		line-height: 1.1em
	}
	h3 {
		font-size: 24px;
		font-size: 1.8461538462rem;
		line-height: 1.3em
	}
	h6 {
		font-size: 14px;
		font-size: 1.0769230769rem
	}
	p {
		margin: 0 0 20px;
		margin: 0 0 1.5384615385rem
	}
	ins {
		background: #fff9c0;
		text-decoration: none
	}
	ul {
		margin: 13px 0;
		margin: 1rem 0;
		padding: 0 0 0 20px;
		padding: 0 0 0 1.5384615385rem
	}
	ul {
		list-style: disc
	}
	li ul {
		margin: 0
	}
	form {
		font-size: 13px;
		font-size: 1rem
	}
	textarea:invalid {
		-webkit-box-shadow: none;
		box-shadow: none
	}
	textarea, input[type="text"] {
		padding: 5px;
		padding: .3846153846rem;
		font-size: 13px;
		font-size: 1rem;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background-clip: padding-box;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-appearance: none;
		background-color: #fff;
		border: 1px solid #e9e9e9;
		color: #555;
		font-family: "Open Sans", sans-serif;
		outline: 0;
		margin: 0;
		text-align: left;
		height: 2.5em;
		vertical-align: top
	}
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		color: #888
	}
	input:-moz-placeholder, textarea:-moz-placeholder {
		color: #888
	}
	textarea {
		height: auto
	}
	@media (-webkit-min-device-pixel-ratio:0) {
		::-webkit-validation-bubble-message {
			-webkit-box-shadow: none;
			box-shadow: none;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
			border: 0;
			color: white;
			font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
			overflow: hidden;
			padding: 15px 15px 17px;
			text-shadow: #000 0 0 1px;
			min-height: 16px
		}
		::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-top-outer-arrow, ::-webkit-validation-bubble-top-inner-arrow {
			-webkit-box-shadow: none;
			box-shadow: none;
			background: #666;
			border-color: #666
		}
	}
	textarea {
		min-height: 40px;
		overflow: auto;
		resize: vertical;
		width: 100%
	}
	table {
		font-size: 12px;
		font-size: .9230769231rem;
		max-width: 100%;
		width: 100%
	}
	table, td {
		margin: 20px 0;
		margin: 1.5384615385rem 0;
		padding: 5px 10px;
		padding: .3846153846rem .7692307692rem;
		border: 1px solid #e9e9e9
	}
	tr {
		background-color: #fff
	}
	img {
		height: auto;
		max-width: 100%
	}
	.searchform {
		width: 23.7288135593%;
		float: right;
		margin-right: 0;
		position: relative;
		color: #dcdcdc
	}
	@media screen and (min-width:320px) {
		.searchform {
			display: none
		}
	}
	@media screen and (min-width:480px) {
		.searchform {
			display: block;
			position: absolute;
			top: 10px;
			right: 20px
		}
	}
	@media screen and (min-width:769px) {
		.searchform {
			display: block;
			position: relative;
			top: 0;
			right: 0
		}
	}
	.searchform div {
		position: relative;
		float: right
	}
	.searchform .dashicons {
		left: 6px;
		left: .4615384615rem;
		top: 14px;
		top: 1.0769230769rem;
		width: 16px;
		width: 1.2307692308rem;
		height: 16px;
		height: 1.2307692308rem;
		font-size: 16px;
		font-size: 1.2307692308rem;
		position: absolute
	}
	.searchform .field {
		margin-top: 6px;
		margin-top: .4615384615rem;
		padding-left: 25px;
		padding-left: 1.9230769231rem;
		width: 90px;
		width: 6.9230769231rem;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border-color: transparent
	}
	.site-header {
		padding: 24px 0;
		padding: 1.8461538462rem 0
	}
	@media screen and (min-width:320px) {
		.site-branding {
			width: 100%;
			float: right;
			margin-right: 0;
			margin-bottom: 20px;
			margin-bottom: 1.5384615385rem;
			text-align: center
		}
	}
	@media screen and (min-width:800px) {
		.site-branding {
			width: 23.7288135593%;
			float: left;
			margin-right: 1.6949152542%;
			margin-bottom: 0;
			text-align: left
		}
	}
	.site-logo {
		margin-top: 14px;
		margin-top: 1.0769230769rem
	}
	.main-navigation {
		-webkit-box-shadow: rgba(0, 0, 0, .2) 0 2px 2px -1px;
		box-shadow: rgba(0, 0, 0, .2) 0 2px 2px -1px;
		background-color: #005826;
		border-bottom: 1px solid #003F1A;
		position: relative
	}
	@media screen and (min-width:769px) {
		.navigation-item {
			position: relative
		}
	}
	.menu-primary-items {
		width: 74.5762711864%;
		float: left;
		margin-right: 1.6949152542%
	}
	.menu-primary-items a {
		font-size: 11px;
		font-size: .8461538462rem;
		padding: 14px 18px;
		padding: 1.0769230769rem 1.3846153846rem;
		color: #fff;
		letter-spacing: 1px;
		text-transform: uppercase
	}
	@media (max-width:768px) {
		#menu-primary-items, #menu-secondary-items {
			display: none
		}
	}
	.secondary-navigation {
		position: relative;
		margin-bottom: -1px;
		z-index: 9
	}
	.menu-secondary-items {
		border: 1px solid #e9e9e9;
		border-bottom-color: #ddd
	}
	@media screen and (min-width:320px) {
		.menu-secondary-items {
			display: none
		}
	}
	@media screen and (min-width:601px) {
		.menu-secondary-items {
			display: block
		}
	}
	.menu-secondary-items a {
		font-size: 13px;
		font-size: 1rem;
		padding: 12px 18px;
		padding: .9230769231rem 1.3846153846rem;
		border-right: 1px solid #e3e3e3;
		color: #888;
		letter-spacing: 1px;
		text-transform: uppercase
	}
	.menu-secondary-items .sub-menu {
		border-bottom: 1px solid #ddd;
		margin-left: -1px
	}
	.menu-secondary-items .sub-menu a {
		font-size: 13px;
		font-size: 1rem;
		background: #f0f0f0;
		color: #666;
		border-left: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;
		padding: 10px 18px;
		text-transform: none
	}
	.site-content {
		margin-bottom: 30px;
		margin-bottom: 2.3076923077rem
	}
	.content-area {
		padding: 20px 20px 30px 20px;
		padding: 1.5384615385rem 1.5384615385rem 2.3076923077rem 1.5384615385rem;
		border: 1px solid #e9e9e9
	}
	@media screen and (min-width:320px) {
		.content-area {
			margin-bottom: 30px;
			margin-bottom: 2.3076923077rem;
			width: 100%;
			float: none
		}
	}
	@media screen and (min-width:768px) {
		.content-area {
			width: 66%;
			margin-bottom: 0;
			float: left
		}
	}
	.hentry {
		margin-bottom: 30px;
		margin-bottom: 1.3076923077rem;
		padding-bottom: 30px;
		padding-bottom: .3076923077rem;
		border-bottom: 1px solid #e9e9e9
	}
	.entry-title {
		font-size: 20px;
		font-size: 1.5384615385rem;
		line-height: 1;
		font-weight: 400
	}
	.page .entry-title {
		font-size: 26px;
		font-size: 2rem;
		line-height: 1.2
	}
	.entry-content {
		margin-bottom: 30px;
		margin-bottom: 2.3076923077rem;
		font-size: 14px;
		font-size: 1.0769230769rem;
		line-height: 1.8
	}
	@media screen and (min-width:600px) {
		.widget-primary {
			width: 100%;
			float: none
		}
	}
	@media screen and (min-width:768px) {
		.widget-primary {
			width: 34%;
			float: right
		}
	}
	.widget-area .widget {
		margin: 0 0 -1px -1px;
		margin: 0 0 -.0769230769rem -.0769230769rem;
		padding-bottom: 10px;
		padding-bottom: .7692307692rem;
		border: 1px solid #e9e9e9
	}
	.widget-area .widget>div {
		padding: 10px 20px;
		padding: .7692307692rem 1.5384615385rem
	}
	.widget-area .widget-title {
		margin: 0 0 10px 0;
		margin: 0 0 .7692307692rem 0;
		padding: 10px 20px;
		padding: .7692307692rem 1.5384615385rem;
		font-size: 14px;
		font-size: 1.0769230769rem;
		background: #f4f4f4;
		border-bottom: 1px solid #e9e9e9;
		color: #666;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-shadow: 0 1px 0 #fff
	}
	.widget-area li {
		padding: 8px 20px 8px 30px;
		padding: .6153846154rem 1.5384615385rem .6153846154rem 2.3076923077rem;
		position: relative
	}
	.widget-area li a {
		position: relative
	}
	.widget-area li a:first-child::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -.7em;
		margin-top: -3px;
		height: 0;
		width: 0;
		border: 3px solid transparent;
		border-left-color: #999
	}
	.widget-area .widget_nav_menu div {
		padding: 0
	}
	.comment-reply-title {
		margin-bottom: 0
	}
	.comment-form p {
		margin-bottom: 10px;
		margin-bottom: .7692307692rem;
		line-height: 2.3
	}
	.comment-form label {
		color: #999
	}
	.comment-form input {
		margin-right: 15px;
		margin-right: 1.1538461538rem;
		float: left;
		background-color: #f4f4f7
	}
	.comment-form textarea {
		background-color: #f4f4f7;
		line-height: 1.5
	}
	.comment-form .required {
		color: red
	}
	.sf-menu {
		margin: 0;
		padding: 0;
		list-style: none
	}
	.sf-menu * {
		margin: 0;
		padding: 0;
		list-style: none
	}
	.sf-menu>li {
		float: left
	}
	.sf-menu li {
		position: relative
	}
	.sf-menu ul {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99
	}
	.sf-menu a {
		display: block;
		position: relative
	}
	.main-navigation, .menu-secondary-items, .hentry, .comment-form p {
		*zoom: 1
	}
	.main-navigation:before, .menu-secondary-items:before, .hentry:before, .comment-form p:before, .main-navigation:after, .menu-secondary-items:after, .hentry:after, .comment-form p:after {
		content: "";
		display: table
	}
	.main-navigation:after, .menu-secondary-items:after, .hentry:after, .comment-form p:after {
		clear: both
	}
	.widget-area ul {
		list-style: none;
		margin: 0;
		padding: 0
	}
	.menu-secondary-items {
		background: #fbfbfb;
		background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#eee));
		background: -webkit-linear-gradient(top, #fbfbfb, #eee);
		background: linear-gradient(to bottom, #fbfbfb, #eee);
		text-shadow: 0 1px 0 #fff
	}