/* Fonts */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);

/* Basic CSS starts */

body{
	padding-top: 70px;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background:#fff;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.martop {
    margin-top: 40px;
}
.paddtop{padding-top:70px;}
h4 { font-size: 21px; }

p{
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 28px;
}

a button{
	text-decoration: none !important;
}

a:hover, button:hover{
	text-decoration: none !important;
}

a:hover,a:active,a:focus, button:hover, button:active, button:focus {
	outline: 0 !important;
	text-decoration: none !important;
}

hr{
	border-top:0px;
	border-bottom:1px solid #f8f8f8;
}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

.form-control,
.form-control:focus{
	box-shadow:none !important;
}

.btn{
  -webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}

.btn:hover{
  -webkit-transition: all 0.5s ease;
	 -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
	      transition: all 0.5s ease;
}

.btn i{
	margin-right:5px;
}
.btn {
    border-color: transparent !important;
    box-shadow: 0 1px 4px 0 rgba(138, 136, 136, 0.37);
    border-radius:0 !important;
    outline: 0 !important;
}
.btn:focus{
	outline: 0 !important;
	border-color: transparent !important;
}
.btn:hover{
    border-color: transparent;
    box-shadow: 0 3px 12px 0 rgba(138, 136, 136, 0.47);
}
/* Theme Default Button */

.btn-theme {
  color: #fff !important;
  border:0px;
  border-radius:2px;
  font-size:18px;
  padding:16px 30px;
}
.btn-downloadapp, .btn-startnow{
	 background:#008cd6 !important;
}
/* Border */

.bor{
	width:70px;
	height:3px;
	margin:5px auto;
}

/* Default Padding */

.padd { padding: 75px 0; }
.padd1 { padding: 10px 0; }
/* Basic CSS ends */
/* Color CSS File */
/* Default Theme Color Class */
.color {
  color: #609cec !important;
}
.br-color {
  background: #609cec !important;
}
/* Theme Default Button */
.btn-theme {
  background: #609cec;
}
.btn-theme:hover {
  background: #528fe2;
}
/* Border */
.bor {
  background: #609cec;
}
/* General */

body {
  color: #555555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}
a {
  color: #777777;
}
a:hover {
  color: #555555;
}
a.inline_link{color: blue;}

/* General End*/
/* Social Media */

.social a i {
   display:inline-block;
   width:40px;
   height:40px;
   font-size:15px;
   line-height:40px;
   text-decoration:none;
   text-align:center;
   color:#fff;
   -webkit-transition: background 1.5s ease;
      -moz-transition: background 1.5s ease;
        -o-transition: background 1.5s ease;
       -ms-transition: background 1.5s ease;
           transition: background 1.5s ease;
}
.social a:hover i { background:#000; }
.social a, .social a:hover {
   border:0px;
   text-decoration:none;
}
/* Social Media  End */
/* Header */

.header .navbar { 
	margin: 0;
	background: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	z-index: 999999;
	
}
.header .navbar-nav>li>a {
	padding: 25px 18px;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
	color: #777;
	background:transparent;
	text-transform: uppercase;
   -webkit-transition: background 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
       -ms-transition: background 0.5s ease-in-out;
           transition: background 0.5s ease-in-out;
}
#remove-home{
	display:none !important;
}
.header .navbar-nav>li>a:hover,
.header .navbar-nav>li>a:focus { 
	color:#fff; 
   -webkit-transition: background 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out;
        -o-transition: background 0.5s ease-in-out;
       -ms-transition: background 0.5s ease-in-out;
           transition: background 0.5s ease-in-out;	
}

.header .navbar-nav>li.active>a{
	color:#fff;
}

.header .icon-bar{
	background:#fff;
}
.header .navbar .navbar-nav > li > a:hover {
  background: #609cec !important;
}
.header .navbar .navbar-nav > li > a:focus {
  background: #609cec !important;
}
.header .navbar .navbar-nav > li.active > a {
  background: #609cec !important;
}
.header .navbar .navbar-toggle {
  background: #609cec;
}
/* Default Heading */
.default-heading .dh-icon i {
  color: #609cec;
}
.header .navbar .navbar-nav > li > .re-hover:hover {
    background: none !important;
}
.header .navbar .navbar-nav > li.active > .re-hover{
    background: none !important;
}
.header .navbar-nav > li.active > .re-hover{
    color:#555555 !important;
}
.header .navbar-nav > li > .re-hover:hover, .header .navbar-nav > li > .re-hover:focus {
    color: #555555 !important;
    transition: background 0.5s ease-in-out 0s;
}
.header .navbar-nav > li > .login{
    font-size:14px;
    text-transform:none;
    font-weight: normal;
}
.header .navbar-nav > li > .sign-up{
    background:#609CEC;
    border: 0 none;
    font-size:15px;
    border-radius: 2px;
    color: #FFFFFF !important;
    font-size: 15px;
    padding: 8px 0px;
    margin:17px 0px;
    line-height:25px;
    text-align: center;
    text-transform:none;
    font-weight: normal;
    width:95px;
    margin-left:5px;
}
.header .navbar .navbar-nav > li > .sign-up:hover{
    background:#609CEC !important;
    vertical-align:middle;
}
.header .navbar .navbar-nav > li.active > .sign-up{
    background: #609CEC !important;
}

/* Header End*/

/* Testimonials */
.banner-box{
	background: url("../img/bg-testimonials.jpg") no-repeat;
	height: 184px;
	width: 100%;
}
.btn-testimonials{
	margin-top: 66px;
}
.banner-box h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	color: #fff;
	margin: 0px;
	margin-top: 66px;
	text-transform: uppercase;
}
.tmbox{
	padding: 20px 30px;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 70px;
	z-index: 99;
}
.tmbox .tmbox-header table{
	width: 100%;
}
.tmbox .tmbox-header table tbody td{
	vertical-align: middle;
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
	position: relative;
}
.tmbox .tmbox-header table tbody .tmtd-bor{
	
	border-bottom: 1px solid #e5e5e5;
	padding-top: 30px;
}
.tmbox .tmbox-header .tmimg{
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	float: left;
	position: absolute;
	left: calc(50% - 50px);
	top: -70px;
	border: 3px solid #ffffff;
	box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.16);
	z-index: 9999;
}
.tmbox .tmbox-header .tmimg-ele{
	background: #fff url("../img/tImg11.jpg") no-repeat;
}
.tmbox .tmbox-header .tm-img1{
	background-position: 0px 0px;
}
.tmbox .tmbox-header .tm-img2{
	background-position: 0px -118px;
}
.tmbox .tmbox-header .tm-img3{
	background-position: 0px -232px;
}
.tmbox .tmbox-header .tm-img4{
	background-position: 0px -348px;
}
.tmbox .tmbox-header .tm-img5{
	background-position: 0px -464px;
}
.tmbox .tmbox-header .tm-img6{
	background-position: 0px -580px;
}
.tmbox .tmbox-header .tm-img7{
	background-position: 0px -702px;
}
.tmbox .tmbox-header .tm-img8{
	background-position: 0px -814px;
}
.tmbox .tmbox-header .tm-img9{
	background-position: 0px -929px;
}
.tmbox .tmbox-header .tm-img10{
	background-position: 0px -1048px;
}
.tmbox .tmbox-header .tm-img11{
	background-position: 0px -1160px;
}
.tmbox .tmbox-header .tm-img12{
	background-position: 0px -1276px;
}
.tmbox .tmbox-header .tm-img13{
	background-position: 0px -1392px;
}
.tmbox .tmbox-header .tm-img14{
	background-position: 0px -1510px;
}
.tmbox .tmbox-header .tm-img15{
	background-position: 0px -1628px;
}
.tmbox .tmbox-header .tm-img16{
	background-position: 0px -1742px;
}
.tmbox .tmbox-header .tm-img17{
	background-position: 0px -1858px;
}
.tmbox .tmbox-header .tm-img18{
	background-position: 0px -1975px;
}
.tmbox .tmbox-header .tm-img19{
	background-position: 0px -2092px;
}
.tmbox .tmbox-header .tm-img20{
	background-position: 0px -2206px;
}
.tmbox .tmbox-header .tm-img21{
	background-position: 0px -2322px;
}
.tmbox .tmbox-header .tm-img22{
	background-position: 0px -2438px;
}
.tmbox .tmbox-header .tm-img23{
	background-position: 0px -2554px;
}
.tmbox .tmbox-header .tm-img24{
	background-position: 0px -2670px;
}
.tmbox .tmbox-header .tm-img25{
	background-position: 0px -2786px;
}
.tmbox .tmbox-header .tm-img26{
	background-position: 0px -2902px;
}
.tmbox .tmbox-header .tm-img27{
	background-position: 0px -3016px;
}
.tmbox .tmbox-header .tm-img28{
	background-position: 0px -3132px;
}
.tmbox .tmbox-header .tm-img29{
	background-position: 0px -4526px;
}
.tmbox .tmbox-header .tm-img30{
	background-position: 0px -3366px;
}
.tmbox .tmbox-header .tm-img31{
	background-position: 0px -3482px;
}
.tmbox .tmbox-header .tm-img32{
	background-position: 0px -3598px;
}
.tmbox .tmbox-header .tm-img33{
	background-position: 0px -3714px;
}
.tmbox .tmbox-header .tm-img34{
	background-position: 0px -3830px;
}
.tmbox .tmbox-header .tm-img35{
	background-position: 0px -3946px;
}
.tmbox .tmbox-header .tm-img36{
	background-position: 0px -4062px;
}
.tmbox .tmbox-header .tm-img37{
	background-position: 0px -4178px;
}
.tmbox .tmbox-header .tm-img38{
	background-position: 0px -4294px;
}
.tmbox .tmbox-header .tm-img39{
	background-position: 0px -4410px;
}
.tmbox .tmbox-header .tm-img40{
	background-position: 0px -4644px;
}
.tmbox .tmbox-header .tm-img41{
	background-position: 0px -4758px;
}
.tmbox .tmbox-header .tm-img42{
	background-position: 0px -4870px;
}
.tmbox .tmbox-header .tm-img43{
	background-position: 0px -4986px;
}
.tmbox .tmbox-header .tm-img44{
	background-position: 0px -5101px;
}
.tmbox .tmbox-header .tm-img45{
	background-position: 0px -5220px;
}
.tmbox .tmbox-header .tm-img46{
	background-position: 0px -5332px;
}
.tmbox .tmbox-header .tm-img47{
	background-position: 0px -5447px;
}
.tmbox .tmbox-header .tm-img48{
	background-position: 0px -5562px;
}
.tmbox .tmbox-header .tm-img49{
	background-position: 0px -5680px;
}
.tmbox .tmbox-header .tm-img50{
	background-position: 0px -5792px;
}
.tmbox .tmbox-header .tm-img51{
	background-position: 0px -6020px;
}
.tmbox .tmbox-header .tm-img52{
	background-position: 0px -5906px;
}
.tmbox .tmbox-header .tm-img53{
	background-position: 0px -6134px;
}
.tmbox .tmbox-header .tm-img54{
	background-position: 0px -6248px;
}
.tmbox .tmbox-header .tm-img55{
	background-position: 0px -6362px;
}
.tmbox .tmbox-header .tm-img56{
	background-position: 0px -6478px;
}
.tmbox .tmbox-header .tm-img57{
	background-position: 0px -6702px;
}
.tmbox .tmbox-header .tm-img58{
	background-position: 0px -6816px;
}
.tmbox .tmbox-header .tm-img59{
	background-position: 0px -6928px;
}
.tmbox .tmbox-header .tm-img-rbigradeb-2016-r2{
	background-position: 0px -6590px;
}
.tmbox .tmbox-header .tm-img61{
	background-position: 0px -7040px;
}
.tmbox .tmbox-header .tm-img62{
	background-position: 0px -7150px;
}
.tmbox .tmbox-header .tm-img63{
	background-position: 0px -7260px;
}
.tmbox .tmbox-header .tm-img64{
	background-position: 0px -7370px;
}
.tmbox .tmbox-header .tm-img65{
	background-position: 0px -7484px;
}
.tmbox .tmbox-header .tm-img66{
	background-position: 0px -7594px;
}
.tmbox .tmbox-header .tm-img67{
	background-position: 0px -7704px;
}
.tmbox .tmbox-header .tm-img68{
	background-position: 0px -7814px;
}
.tmbox .tmbox-header .tm-img69{
	background-position: 0px -7924px;
}
.tmbox .tmbox-header .tm-img70{
	background-position: 0px -8034px;
}
.tmbox .tmbox-header .tm-img71{
	background-position: 0px -8144px;
}
.tmbox .tmbox-header .tm-img72{
	background-position: 0px -8254px;
}
.tmbox .tmbox-header .tm-img73{
	background-position: 0px -8364px;
}
.tmbox .tmbox-header .tm-img74{
	background-position: 0px -8474px;
}
.tmbox .tmbox-header .tm-img75{
	background-position: 0px -8584px;
}
.tmbox .tmbox-header .tm-img76{
	background-position: 0px -8694px;
}
.tmbox .tmbox-header .tm-img77{
	background-position: 0px -8804px;
}
.tmbox .tmbox-header .tm-img78{
	background-position: 0px -8914px;
}
.tmbox .tmbox-header .tm-img79{
	background-position: 0px -9024px;
}
.tmbox .tmbox-header .tm-img80{
	background-position: 0px -9134px;
}
.tmbox .tmbox-header .tm-img81{
	background-position: 0px -9244px;
}
.tmbox .tmbox-header .tm-img82{
	background-position: 0px -9354px;
}
.tmbox .tmbox-header .tm-img83{
	background-position: 0px -9464px;
}
.tmbox .tmbox-header .tm-img84{
	background-position: 0px -9574px;
}
.tmbox .tmbox-header .tm-img85{
	background-position: 0px -9684px;
}
.tmbox .tmbox-header .tm-img86{
	background-position: 0px -9794px;
}
.tmbox .tmbox-header .tm-img87{
	background-position: 0px -9904px;
}
.tmbox .tmbox-header .tm-img88{
	background-position: 0px -10014px;
}
.tmbox .tmbox-header .tm-img89{
	background-position: 0px -10124px;
}
.tmbox .tmbox-header .tm-img90{
	background-position: 0px -10234px;
}
.tmbox .tmbox-header .tm-img91{
	background-position: 0px -10344px;
}
.tmbox .tmbox-header .tm-img92{
	background-position: 0px -10454px;
}
.tmbox .tmbox-header .tm-img93{
	background-position: 0px -10564px;
}
.tmbox .tmbox-header .tm-img94{
	background-position: 0px -10674px;
}
.tmbox .tmbox-header .tm-img95{
	background-position: 0px -10784px;
}
.tmbox .tmbox-header .tm-img96{
	background-position: 0px -10894px;
}
.tmbox .tmbox-header .tm-img97{
	background-position: 0px -11004px;
}
.tmbox .tmbox-header .tm-img98{
	background-position: 0px -11114px;
}
.tmbox .tmbox-header .tm-img99{
	background-position: 0px -11224px;
}
.tmbox .tmbox-header .tm-img100{
	background-position: 0px -11334px;
}


.tmbox .tmbox-header .tm-img101{background-position: 0 -11444px}
.tmbox .tmbox-header .tm-img102{background-position: 0 -11554px}
.tmbox .tmbox-header .tm-img103{background-position: 0 -11664px}
.tmbox .tmbox-header .tm-img104{background-position: 0 -11774px}
.tmbox .tmbox-header .tm-img105{background-position: 0 -11884px}
.tmbox .tmbox-header .tm-img106{background-position: 0 -11994px}
.tmbox .tmbox-header .tm-img107{background-position: 0 -12104px}
.tmbox .tmbox-header .tm-img108{background-position: 0 -12214px}
.tmbox .tmbox-header .tm-img109{background-position: 0 -12324px}
.tmbox .tmbox-header .tm-img110{background-position: 0 -12434px}
.tmbox .tmbox-header .tm-img111{background-position: 0 -12544px}
.tmbox .tmbox-header .tm-img112{background-position: 0 -12654px}
.tmbox .tmbox-header .tm-img113{background-position: 0 -12764px}
.tmbox .tmbox-header .tm-img114{background-position: 0 -12874px}
.tmbox .tmbox-header .tm-img115{background-position: 0 -12984px}
.tmbox .tmbox-header .tm-img116{background-position: 0 -13094px}
.tmbox .tmbox-header .tm-img117{background-position: 0 -13204px}
.tmbox .tmbox-header .tm-img118{background-position: 0 -13314px} /* manual setting*/
.tmbox .tmbox-header .tm-img119{background-position: 0 -13429px} /* manual setting */
.tmbox .tmbox-header .tm-img120{background-position: 0 -13539px}
.tmbox .tmbox-header .tm-img121{background-position: 0 -13644px}
.tmbox .tmbox-header .tm-img122{background-position: 0 -13762px} /* manual setting */
.tmbox .tmbox-header .tm-img123{background-position: 0 -13864px}
.tmbox .tmbox-header .tm-img124{background-position: 0 -13982px}
.tmbox .tmbox-header .tm-img125{background-position: 0 -14097px}
.tmbox .tmbox-header .tm-img126{background-position: 0 -14201px}
.tmbox .tmbox-header .tm-img127{background-position: 0 -14315px}
.tmbox .tmbox-header .tm-img128{background-position: 0 -14425px}
.tmbox .tmbox-header .tm-img129{background-position: 0 -14535px}
.tmbox .tmbox-header .tm-img130{background-position: 0 -14645px}
.tmbox .tmbox-header .tm-img131{background-position: 0 -14755px}
.tmbox .tmbox-header .tm-img132{background-position: 0 -14865px}
.tmbox .tmbox-header .tm-img133{background-position: 0 -14975px}
.tmbox .tmbox-header .tm-img134{background-position: 0 -15085px}
.tmbox .tmbox-header .tm-img135{background-position: 0 -15195px}
.tmbox .tmbox-header .tm-img136{background-position: 0 -15305px}
.tmbox .tmbox-header .tm-img137{background-position: 0 -15415px}
.tmbox .tmbox-header .tm-img138{background-position: 0 -15525px}
.tmbox .tmbox-header .tm-img139{background-position: 0 -15635px}
.tmbox .tmbox-header .tm-img140{background-position: 0 -15745px}
.tmbox .tmbox-header .tm-img141{background-position: 0 -15855px}
.tmbox .tmbox-header .tm-img142{background-position: 0 -15965px}
.tmbox .tmbox-header .tm-img143{background-position: 0 -16075px}
.tmbox .tmbox-header .tm-img144{background-position: 0 -16185px}
.tmbox .tmbox-header .tm-img145{background-position: 0 -16295px}
.tmbox .tmbox-header .tm-img146{background-position: 0 -16405px}
.tmbox .tmbox-header .tm-img147{background-position: 0 -16515px}

/* Updated on 22-Apr-2019 */
.tmbox .tmbox-header .tm-img148{background-position: 0 -16625px}
.tmbox .tmbox-header .tm-img149{background-position: 0 -16735px}
.tmbox .tmbox-header .tm-img150{background-position: 0 -16845px}
.tmbox .tmbox-header .tm-img151{background-position: 0 -16955px}
.tmbox .tmbox-header .tm-img152{background-position: 0 -17065px}
.tmbox .tmbox-header .tm-img153{background-position: 0 -17175px}
.tmbox .tmbox-header .tm-img154{background-position: 0 -17285px}
.tmbox .tmbox-header .tm-img155{background-position: 0 -17395px}
.tmbox .tmbox-header .tm-img156{background-position: 0 -17505px}
.tmbox .tmbox-header .tm-img157{background-position: 0 -17615px}
.tmbox .tmbox-header .tm-img158{background-position: 0 -17725px}
.tmbox .tmbox-header .tm-img159{background-position: 0 -17835px}
.tmbox .tmbox-header .tm-img160{background-position: 0 -17945px}
.tmbox .tmbox-header .tm-img161{background-position: 0 -18055px}
.tmbox .tmbox-header .tm-img162{background-position: 0 -18165px}
.tmbox .tmbox-header .tm-img163{background-position: 0 -18275px}
.tmbox .tmbox-header .tm-img164{background-position: 0 -18385px}
.tmbox .tmbox-header .tm-img165{background-position: 0 -18495px}
.tmbox .tmbox-header .tm-img166{background-position: 0 -18605px}
.tmbox .tmbox-header .tm-img167{background-position: 0 -18715px}
.tmbox .tmbox-header .tm-img168{background-position: 0 -18825px}
.tmbox .tmbox-header .tm-img169{background-position: 0 -18935px}
.tmbox .tmbox-header .tm-img170{background-position: 0 -19045px}
.tmbox .tmbox-header .tm-img171{background-position: 0 -19155px}
.tmbox .tmbox-header .tm-img172{background-position: 0 -19265px}
.tmbox .tmbox-header .tm-img173{background-position: 0 -19375px}
.tmbox .tmbox-header .tm-img174{background-position: 0 -19485px}
.tmbox .tmbox-header .tm-img175{background-position: 0 -19595px}
.tmbox .tmbox-header .tm-img176{background-position: 0 -19705px}
.tmbox .tmbox-header .tm-img177{background-position: 0 -19815px}
.tmbox .tmbox-header .tm-img178{background-position: 0 -19925px}
.tmbox .tmbox-header .tm-img179{background-position: 0 -20035px}
.tmbox .tmbox-header .tm-img180{background-position: 0 -20145px}
.tmbox .tmbox-header .tm-img181{background-position: 0 -20255px}
.tmbox .tmbox-header .tm-img182{background-position: 0 -20365px}
.tmbox .tmbox-header .tm-img183{background-position: 0 -20475px}
.tmbox .tmbox-header .tm-img184{background-position: 0 -20585px}
.tmbox .tmbox-header .tm-img185{background-position: 0 -20695px}
.tmbox .tmbox-header .tm-img186{background-position: 0 -20805px}
.tmbox .tmbox-header .tm-img187{background-position: 0 -20915px}

.tmbox .tmbox-header table tbody td h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0px;
	color: #333333;
	font-weight: 600;
}
.tmbox .tmbox-header table tbody td p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0px;
	color: #609cec;
	font-weight:600;
}
.tmbox .tmbox-body{
	margin-top: 20px;
	position: relative;
	padding-bottom: 30px;
}
.tmbox .tmbox-body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
	height: 190px;
}

.morecontent span {
    display: none;
}
.morelink, .morelink:hover, .morelink:focus {
    display: block;
    font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333;
	text-transform: uppercase;
	text-decoration: underline !important;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
/* Testimonials End */
/* Contact Block */

.contact .heading{
	margin-bottom:20px;
}

.contact .heading h2{
	font-size:40px;
	line-height:40px;
	font-weight:400;
}

.contact .heading .bor{
	margin-top:17px;
}

.contact .heading p{
	margin-top:12px;
	font-size:17px;
}

.contact .heading i{
	font-size:40px;
}


.contact-content{
	max-width:800px;
	margin:0px auto;
}
  
.contact-content h5 {
	font-size: 36px;
	padding-bottom:15px;
	margin: 0px;
}

.contact-content form { 
	color:#999;
	margin-bottom:20px;
}

.contact-content form label{
	font-weight:normal !important;
	margin-top:5px !important;
}
.contact form label {
    color: #609cec;
}
.contact-content form .form-group { margin-bottom: 20px; }
.contact-content form .form-group input{
	height: 45px;
	font-size: 14px;
}

.contact-content form textarea { 
	font-size: 14px; 
	padding:15px; 
}
.contact-content .btn-file{
	height: 45px;
	border-radius: 2px;
	box-shadow: none !important;
	line-height:30px;
    padding: 6px 12px !important;
    font-size: 14px; 
    font-weight:300;
    color: #fff;
    background: rgb(96,156,236);
    margin: 0px !important;
    font-weight:600 !important;
}
.contact-content .btn-file i {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.contact-content .btn-file i {
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: background 1.5s ease 0s;
}
.contact-content .form-control,
.contact-content form button { border-radius: 2px;}
.testimonialUp {
    color: #fd502d ;
    font-size: 17px;
    text-align: center;
}
	.contact-content #uploadFileName, .contact-content .btn-file{
		display: inline-block;
	}
	.contact-content #uploadFileName{
		color: #666;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
	}
.label-upp{
	color: #333333 !important;
    font-size: 16px;
}
#success, 
#error {
    display:none;
}
/* Contact End */
/* Footer */

.footer {
	padding: 50px 0; 
	border-top:1px solid #f5f5f5;
	background-color:#FFFCF5;
}

.footer .footer-social{
	margin-top:10px;
}

.footer .footer-social a i{
	height:40px;
	width:40px;
	line-height:32px;
	font-size:14px;
	margin:0px 2px;
	border-radius:40px;
}
/****************/
/* Social */
/****************/
.social a.facebook i {
  background: #1e78ae;
}
.social a.twitter i {
  background: #1ba1e2;
}
.social a.google-plus i {
  background: #f22d0c;
}
.social a.linkedin i {
  background: #2d93cf;
}
.social a.youtube i {
  background: #d72523;
}
.social a.pinterest i {
  background: #dd1617;
}
.social a:hover i {
  background: #333333;
}
.footerlinks {
    color: #609cec;
}
p {
    font-size: 14px;
    line-height: 28px;
}
/* Footer End */
/* new footer */
.link-footer{
    padding-bottom:30px;
    text-align:left;
}
.link-footer i {
    border: solid #555555;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom:1px;
}
.link-footer p {
    color:#333;
}

.link-footer .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.link-footer h3{
    margin:0px;
    padding:0px;
    margin-bottom:10px;
    margin-top:16px;
    color:#101010;
}
.link-footer ul{
    list-style:none;
    padding:0px;
    margin:0px;
    padding-left:10px;
}
.link-footer ul li{
    display:block;
    padding-bottom:5px;
}
.link-footer ul li a{
    font-size:14px;
    color:#333;
    white-space:nowrap;
}
.link-footer ul li a span{
    padding-left:8px;
    display:inline-block;
}


/* To Top Starts */

.totop {
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:500;
	border-radius:2px;
	background:rgba(0, 0, 0, 0.4);
}

.totop a, .totop a:visited{
	display:block;
	width:35px;
	height:35px;
	text-align:center;
	line-height:33px;
	font-size:15px;
	color:#fff;
}

.totop a:hover {
	text-decoration:none;
}

/* To Top Ends */

/* Responsive CSS */

/* Mobile phones */

@media (max-width: 480px){
	
	.contact .heading h2{
		font-size:22px;
		line-height:28px;
	}
	.contact .heading p{
		font-size:14px;
		line-height:22px;
	}
	
}

/* Tablets */
@media (max-width: 767px){
	.header .navbar { padding-top: 10px; padding-bottom: 10px; }
	.header .navbar-brand  h1 { line-height:15px; font-size:22px; }
	.header .navbar-brand h1 i{ font-size:20px; }
	.header .navbar-nav>li>a { 
		line-height: 0px; 
		font-size: 16px; 
		font-weight:600;
	}
	.navbar-brand {
		padding: 7px 15px;
	}
	.banner-box h1{
		font-size: 30px;
		margin-top: 30px;
	}
	.banner-box .btn-testimonials{
		margin-top:30px;
	}
	.tmbox{
		padding:20px;
	}
	.contact-content h5 {
		font-size: 28px;
	}

}
/* Desktop */
@media (min-width:768px) and (max-width: 991px){
	.nav li a{
		font-size:12px !important;
		padding-left:5px !important;
		padding-right:5px !important;
	}
	.banner-box h1{
		font-size: 36px;
	}
}
@media (min-width:992px) and (max-width: 1199px){
	
	.nav li a{
		font-size:15px !important;
		padding-left:15px !important;
		padding-right:15px !important;
	}
	.banner-box h1{
		font-size: 44px;
	}
}

/* Mobile Ad */
.mobile-appAd{
    background: #f8df7b;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:130px;
}
.mobile-appAd> div>table> tbody> tr> td{
    border-top:0px;
}

.mobile-appAd h3{
    font-size:14px;
    color:#374046;
    margin-top: 0px;
    line-height:18px;
    font-weight: 600;
}
/* Mobile Ad End*/

